.heading{
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.167; 
    letter-spacing: 0em; 
    margin: 0;
}

@media (max-width: 600px) {
    h1 {
      font-size: 2.125rem; 
    }
    .title{
        text-align: center;
        padding: 0 12px;
    }
  }